h1 {
  text-align: center;
}

#container {
  text-align: center;
}

#circles-container {
  text-align: center;
}

.ball {
  border: solid black 1px;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  display: inline-block;
}

.score {
  display: inline-block;
}

#buttons {
  text-align: center;
  margin-top: 20px;
}